.mainframe {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.7rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.memewrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #4e4e4e;
  background-color: #2e2e2e;
  gap: 0.8rem;
}

img {
  height: 350px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 0.2rem;
  margin: 0.3rem;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  color: white;
}
