<div class="wrapper">
    <div class="imageframe">
      <img src="docker-icon.png" alt="docker image">
      <h1>Ben About Docker</h1>
    </div>

    <div class="buttonframe">
        <button type="button" (click)="routeTo('')">Home</button>
        <button type="button" (click)="routeTo('importantcommands')">Wichtige Befehle</button>
        <button type="button" (click)="routeTo('memes')">Memes</button>
        <button type="button" (click)="routeTo('about')">Über die Seite</button>
    </div>
</div>
