.frame {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapperoutlet {
    grid-row: 2;
    height: auto;
    width: auto;
    overflow: auto;
}

app-header {
    grid-row: 1;
}

app-footer {
    grid-row: 3;
}
