html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: "Sansation", sans-serif;
}

app-root {
  height: 100%;
  width: 100%;
  overflow: auto;
}