<div class="mainframe">
    <div class="paragraphwrapper">
        <p>Ich habe diese Seite Extra für das Docker Modul m347 Erstellt. Habe ich mich überschätzt? Ja. War mein Ego zu
            gross? Ja. Würde ich es wieder Tun? Definitiv</p>
    </div>
    <div class="paragraphwrapper">
        <p>Die Seite ist aber meiner Meinung nach eher als Satire Gedacht, also bitte einfach sportlich nehmen. Aber
            aufwandstechnisch bitte die Backend und DB anbindung nicht vergessen</p>
    </div>
</div>